.container {
    margin: 0px;
    padding: 0px;
}

.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 7px !important;
    margin-right: 7px !important;
    text-align: center;
}

.footer-container {
    width: 100%;
    margin-top: -10px;
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: #141d2a;
}

.inner-div {
    width: 250px;
    text-align: center;
    padding: 15px;
    background-color: #8186d5;
    top: -140px;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
}

.outer-div {
    margin-left: 100px;
    position: relative;
    width: 500px;
}

.carousel-image {
    width: 100%;
    height: auto;
    transition: transform 0.4s ease-in-out;
}

.carousel-image:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.carousel-text {
    position: absolute;
    margin-bottom:30px;
    bottom: -50px; /* Start hidden */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* Smooth easing curve */
}

.carousel-text.animate {
    bottom: 6px; /* Visible position */
    opacity: 1;
}



@media (min-width: 1024px) {
    .carousel-image {
        width: 95%;
        height: 430px;
    }

    .overlay-div {
        top: 93%;
    }

    .carousel-text {
        width: 95%;
    }
}

@media (min-width: 768px) {
    .carousel-image {
        width: 95%;
        height: 430px;
    }

    .overlay-div {
        top: 93%;
    }
}
