
.container{
    margin: 0px;
    padding: 0px;
}
.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    margin-left: 7px !important;
    margin-right: 7px !important;
    text-align: center;
}
.footer-container {
    width: 100%;
    margin-top: 70px;
    position: relative;
    color: #fff;
    padding: 7rem 0;
    background-color: #141d2a;
}
.inner-div {
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #8186d5;
    top: -140px;
    position: relative;
    margin: 0 auto; /* Center horizontally */
}
.outer-div {
    margin-left: 100px;
    position: relative;
    width: 500px;
    /* Ensure the outer-div has a width */
}

.carousel-image {
    margin-top: 11px;
    width: 100%;
    height:auto
    /* Default for small devices */  
}

@media (min-width: 768px) {
    .carousel-image {
        width:95%;
        height: 450px;
        /* Medium devices (tablet) */
    }
}


@media (min-width: 1024px) {
    .carousel-image {
        width: 95%;
        height: 430px;
        /* Large devices (desktop) */
    }
    .overlay-div{
        top: 93%
    }
}
